/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html, body {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    overflow-x: auto;
}

body {
    font-size: 14px;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

#app {
    height: 100%;
    width: 100%;
}
